@import "../index.css";

.dates-button {
  display: block !important;
  width: 100%;
  color: var(--main-color) !important;
  transition: 0.3s !important;
	border-radius: 0 !important;
}

.dates-button:hover {
  color: #fff !important;
  background-color: var(--main-color) !important;
}

.room-card-container {
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: 280px;
}
