* {
  margin: 0;
  padding: 0;
}

:root {
	--main-color: #181830;
	--accent-color: #1818307c;
	--accent-color-plus: #18183028;
}

html {
  box-sizing: border-box !important;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

